@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  min-width: 320px;
}

html,
body {
  overflow-x: hidden;
}

button,
input,
select,
textarea {
  letter-spacing: 0;
}

textarea {
  min-height: 86px;
}
